<section class="hero-section">
  <div class="container hero-container">
    <h1 class="title-section title-hero">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <p class="text-description text-hero">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eras dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button
      data-modal-open
      class="button-on-hero button green-button"
      type="button"
    >
      Order Now
    </button>
    <div class="container-area">
      <div class="container-slider">
        <button
          class="hero-slider-btn left-btn"
          type="button"
          aria-label="previous"
        >
          <svg class="slider-arrow" width="30" height="30">
            <use class="slider-icon" href="./img/icons.svg#icon-v-left"></use>
          </svg>
        </button>
        <button
          class="hero-slider-btn right-btn"
          type="button"
          aria-label="previous"
        >
          <svg class="slider-arrow" width="30" height="30">
            <use class="slider-icon" href="./img/icons.svg#icon-v-right"></use>
          </svg>
        </button>
        <div class="slider">
          <div class="slider-line">
            <div class="img-hero">
           <img
              class=" img-hero-desktop"
              src="./img/hero/desktop-hero512.png"
              alt=""
              width=""
            />
          </div>
          <div class="img-hero">
            <img
              class="img-hero-desktop"
              src="./img/hero/desktop-hero-2.png"
              alt=""
              width=""
              />
            </div>
            <div class="img-hero">
              <img
              class="img-hero-desktop"
              src="./img/hero/desktop-hero-3.png"
              alt=""
              width=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
