<section class="hero-section">
  <div class="container hero-container">
    <h1 class="title-section title-hero">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <p class="text-description text-hero">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eras dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button
      data-modal-open
      class="button-on-hero button green-button"
      type="button"
    >
      Order Now
    </button>
    <div class="slider-js">
      <div class="slider-area">
        <button class="hero-slider-btn" type="button" aria-label="previous">
          <svg class="slider-arrow" width="30" height="30">
            <use class="slider-icon" href="../img/icons.svg#icon-v-left"></use>
          </svg>
        </button>
        <picture>
          <source
            srcset="
              ../img/hero/desktop-hero512.png     1x,
              ../img/hero/desktop-hero1022@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/hero/tablet-hero292.png    1x,
              ../img/hero/tablet-hero584@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="img-hero"
            src="../img/hero/tablet-hero584@2x.png"
            alt="food"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
