.text-description.text-hero {
  max-width: 266px;
  font-size: 14px;
  margin-bottom: 28px;
}
.slider-field {
  display: none;
}
.title-section.title-hero {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 28px;
  padding-top: 60px;
}

.hero-container {
  position: relative;
  padding: 60px 0;
}
.img-hero {
  width: 100%;
}
.hero-slider-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .title-section.title-hero {
    font-size: 42px;
    line-height: 1.2;
    width: 537px;
    margin-bottom: 44px;
  }
  .text-description.text-hero {
    max-width: 336px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .slider-area {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 14px solid #ffe550;
  }
  .img-hero {
    display: block;
    width: 100%;
  }
  .slider-js {
    position: absolute;
    right: 32px;
    top: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .text-description.text-hero {
    max-width: 515px;
    margin-bottom: 46.33px;
  }
  .title-section.title-hero {
    padding-top: 150.57px;
    margin-bottom: 28.28px;
    width: 515.3px;
    font-size: 48px;
  }

  .slider-area {
    position: relative;
    width: 560px;
    height: 560px;
  }

  .hero-slider-btn {
    display: block;
    position: absolute;
    top: 230px;
    left: -35px;
    width: 48px;
    height: 48px;
    z-index: 10;
    cursor: pointer;
    background-color: #fefefe;
    border-width: 0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  }

  .slider-icon {
    stroke: #2c2c2c;
  }
}
